@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&family=Nixie+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Martel Sans', sans-serif;
}
.card-container{
    height: 80vh;
    width: 100%;   
}
.card{
    background-color: rebeccapurple;
    position: relative;
    width: 330px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 15px gainsboro;
    padding: 30px 25px;
    text-align: center;
    left: 38%;
    top: 20%;
    transform: translateY(-50%, -50%);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .other{
    display: flex;
    width: 25px;
    justify-content: space-between;
}
.nav li, .nav .other li{
    list-style: none;
}
.nav .other .fa, .nav .fa{
    cursor: pointer;
    color: white;
}
.cardtxt{
    color: white;
}
.card-img img{
    height: 95px;
    width: 100px;
    position: relative;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.profile-social-links{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: relative;
    top: 120px;
}
.profile-social-links li{
    list-style: none;
    cursor: pointer;
}
.profile-social-links li a{
    color: white;
}
.profile-social-links li a:hover{
    color: rgb(211, 176, 247);
}
.intern{
    background-color: white;
    color: rebeccapurple;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    top: 20px;
}
.intern:hover{
    background-color: rgb(169, 105, 233);
    color: white;
}
.toot button{
    position: absolute;
    left: 68%;
    top: 90px;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #663399;
    background-color: white;
    font-size: medium;
    color: rebeccapurple;   
    cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    /* all your styles for dark mode here */
}